/* google font import link */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* tailwind configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* reformatting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.loder {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}